.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition-duration: 4s;
}

.card-container {
    width: 30vw;
    height: 60vh;
    border: black solid 1px;
}

.card-container__img {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 700px) {
    .card-container {
        width: 40vw;
        height: 70vh;
    }
    .card-container__img {
        width: 40vw;
    }
}

@media screen and (max-width: 500px) {
    .card-container {
        width: 90vw;
    }
    .card-container__img {
        width: 90vw;
    }
}
