.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: stretch;
}

.card {
    width: 25vw;
    transition: transform 1s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.card__shadow {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__img {
    width: 25vw;
    height: 40vh;
    object-fit: cover;
    object-position: top;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1700px) {
    .card {
        width: 35vw;
        font-size: 1vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 1400px) {
    .card {
        width: 35vw;
        font-size: 1.4vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 1200px) {
    .card {
        width: 35vw;
        font-size: 1.7vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 1000px) {
    .card {
        width: 35vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 800px) {
    .card {
        width: 70vw;
        font-size: 2.5vw;
    }
    .card__img {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 90vw;
        font-size: 4vw;
    }
    .card__img {
        width: 90vw;
    }
}
