.header__container {
    display: flex;
}

.search-field__container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 5vh;
    width: 100vw;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.search-field__input {
    width: 30vw;
    height: 2.5vh;
}

.search-field__button {
    width: 6vw;
    height: 3vh;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: stretch;
}

.card__body {
    width: 20vw;
    transition: transform 1s;
}

.card__img {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
    object-position: top;
}

.card__body:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card--shadow {
    box-shadow:
        0 4px 8px 0 #00000033,
        0 6px 20px 0 #00000030;
}

.card--fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1700px) {
    .card__body {
        width: 30vw;
        font-size: 1vw;
    }
    .card__img {
        width: 30vw;
    }
}

@media screen and (max-width: 1200px) {
    .card__body {
        width: 35vw;
        font-size: 1.4vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 1000px) {
    .card__body {
        width: 35vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 800px) {
    .card__body {
        width: 70vw;
        font-size: 2.5vw;
    }
    .card__img {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .card__body {
        width: 90vw;
        font-size: 4vw;
    }
    .card__img {
        width: 90vw;
    }
}
