:root {
    --dark-bg-color: #212529;
    --medium-bg-color: #6d6875;
    --clear-bg-color: #f8f9fa;
    --dark-txt-color: #212529;
    --medium-txt-color: #6d6875;
    --clear-txt-color: #f8f9fa;
    --dark-border-color: #212529;
    --medium-border-color: #6d6875;
    --clear-border-color: #f8f9fa;
}

/* HEADER */
.header__container {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100%;
    background-color: var(--clear-bg-color);
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
}

.header__margin {
    height: 10rem;
}

/* SEARCH FIELD */
.search-field__container {
    display: flex;
    height: 6rem;
    width: 30vw;
    justify-content: center;
    align-items: center;
}

.search-field__input {
    width: 100%;
    padding-left: 1rem;
    height: 3rem;
    outline: none;
    color: var(--dark-txt-color);
    border: none;
    background-color: var(--clear-bg-color);
    border: 1px solid var(--dark-border-color);
    border-radius: 45px;
    transition: box-shadow 0.5s;
}

.search-field__input:hover {
    cursor: text;
    box-shadow:
        0 4px 8px 0 #00000033,
        0 6px 20px 0 #00000030;
}

/* CARD */
.card__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: stretch;
}

.card__body {
    width: 20vw;
    border-radius: 20px;
    transition: opacity 0.5s;
}

.card__img {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
    object-position: top;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card__description {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 1rem;
}

.card__title {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--dark-txt-color);
    margin-bottom: 0.5rem;
}

.card__department {
    font-size: 0.8rem;
    color: var(--medium-txt-color);
    padding-bottom: 1rem;
}

.card__save-art {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--medium-txt-color);
}

.card__body:hover {
    cursor: pointer;
    opacity: 80%;
}

.card--shadow {
    box-shadow:
        0 4px 8px 0 #00000033,
        0 6px 20px 0 #00000030;
}

.card--fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

/* NAV LINK */
.nav-link__container {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.nav-link__link {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--medium-txt-color);
    transition: color 0.5s;
}

.nav-link__link-selected {
    border-bottom: 1px solid var(--medium-border-color);
}

.nav-link__link:hover {
    color: var(--dark-txt-color);
}

/* SAVED CARD MODAL */
.saved-card-modal__container {
    background-color: var(--dark-bg-color);
    color: var(--clear-txt-color);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.saved-card-modal--hidden {
    display: none;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media queries */
@media screen and (max-width: 1700px) {
    .card__body {
        width: 30vw;
    }
    .card__img {
        width: 30vw;
    }
}

@media screen and (max-width: 1200px) {
    .search-field__container {
        width: 40vw;
    }
    .card__body {
        width: 35vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 1000px) {
    .search-field__container {
        width: 60vw;
    }
    .card__body {
        width: 35vw;
    }
    .card__img {
        width: 35vw;
    }
}

@media screen and (max-width: 800px) {
    .search-field__container {
        width: 60vw;
    }
    .card__body {
        width: 70vw;
    }
    .card__img {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .search-field__container {
        width: 60vw;
    }
    .card__body {
        width: 90vw;
    }
    .card__img {
        width: 90vw;
    }
}
