:root {
    --dark-bg-color: #212529;
    --medium-bg-color: #6d6875;
    --clear-bg-color: #f8f9fa;
    --dark-txt-color: #212529;
    --medium-txt-color: #6d6875;
    --clear-txt-color: #f8f9fa;
    --text-color-blue: #0582ca;
    --dark-border-color: #212529;
    --medium-border-color: #6d6875;
    --clear-border-color: #f8f9fa;
    --link-color: #0582ca;
    --link-color-hover: #0582ca;
    --font-size-big: 1rem;
    --font-size-medium: 0.9rem;
    --font-size-small: 0.8rem;
    --transition-time: 0.5s;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    font-size: 0.9rem;
    background-color: var(--clear-bg-color);
    margin: 0;
    letter-spacing: 0.8px;
}

p {
    padding: 0.5rem;
}
