@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    font-size: 0.9rem;
    text-decoration: #141115;
    background-color: #f8f9fa;
}

p {
    padding: 0.5rem;
}
