:root {
    --dark-bg-color: #212529;
    --medium-bg-color: #6d6875;
    --clear-bg-color: #f8f9fa;
    --dark-txt-color: #212529;
    --medium-txt-color: #6d6875;
    --clear-txt-color: #f8f9fa;
    --dark-border-color: #212529;
    --medium-border-color: #6d6875;
    --clear-border-color: #f8f9fa;
    --transition-time: 0.5s;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    font-size: 0.9rem;
    background-color: var(--clear-bg-color);
    margin: 0;
    appearance: none;
}

p {
    padding: 0.5rem;
}
